extends base

block content
  main.main
    .recoverPassword-form
      a.link(href='/login') < Back to login
      h2.heading-secondary.ma-bt-lg Please insert your email address
      form.form--recoverPassword
        .form__group
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button#submitButton.btn.btn--green Recover Password