extends base

block content
  main.main
    .recoverPassword-form
      h2.heading-secondary.ma-bt-lg Please Insert a new Password
      form.form--resetPassword
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Password Confirmation
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        button#submitButton.btn.btn--green change Password