extends base

block content
  main.main
    .signUp-form
      h2.heading-secondary.ma-bt-lg Sign Up
      form.form.form--signUp
        .form__group.form__photo-upload
              .photo-input.signUp-version
                img.form__user-photo(src=`/img/users/default.jpg`, alt='User photo')
                input.form__upload(type='file', accept='image/*', id='photo', name='photo')
                label(for='photo') Choose your user photo
        .form__group
          label.form__label(for='name') Name
          input#name.form__input(type='text', placeholder='Name and Last name', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password_confirm') Password Confirm
          input#password_confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button#submitButton.btn.btn--green Sign up
      .signUp-suggestion
        h1 Or
        a.btn.btn--gren(href='/login') Log In
